<nav class="mg-navbar navbar navbar-expand-lg  navbar-dark shadow-sm position-fixed w-100">
	<div class="container-fluid">
		<div class="flex flex-column">
			<a class="navbar-brand text-uppercase mx-4 text-white font-weight-bold py-3" href="#">Logo</a>
			{#% if app.user %#}
			{% if is_granted('ROLE_USER') %}
				{% set fullname  = app.user.firstname ~ " " ~ app.user.lastname %}
				<p class="text-white font-weight-bold">Bienvenue
					{{fullname}}</p>
			{% endif %}
		</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav ms-auto mb-lg-0">
				<li class="nav-item pe-4">
					<a class="nav-link text-white font-weight-bold " href="{{ path('app.home') }}">Accueil
					</a>
				</li>
				<li class="nav-item pe-4">
					<a href="{{path('app.account')}}" class="nav-link text-white font-weight-bold" href="#">Mon Compte
					</a>
				</li>
				<li class="nav-item pe-4 position-relative">
					<a class="nav-link text-white font-weight-bold" href="{{ path('app.cart')}}">Mon panier
					</a>
					{% if app.session.has('cart') and app.session.get('cart')|length > 0 %}
						<span class="badge badge-danger position-absolute mg-badge-cart">
							{{ app.session.get('cart')|length }}
						</span>
					{% endif %}
				</li>
				{% if is_granted('ROLE_USER') %}
					<li class="nav-item pe-4 ">
						<a class="text-white font-weight-bold mg-link-login btn " href="{{ path('app_logout')}}">
							Se déconnecter
						</a>
					</li>

				{% else %}
					<li class="nav-item pe-4 ">
						<a class="text-white font-weight-bold mg-link-login btn " href="{{ path('app.login')}}">
							Connexion
						</a>
					</li>
					<li class="nav-item pe-4 ">
						<a class="text-white font-weight-bold mg-link-login btn " href="{{path('app.register')}}">
							Créer un compte
						</a>
					</li>


				{% endif %}


			</ul>
		</div>

	</div>
</nav>
