<div class="mg-products-content pt-md-2 pt-sm-5">
	<h1 class="text-xl-center text-md-center text-sm-center mg-products-content-title">Listes de nos produits</h1>


	<div class="row mb-3">

		{% for product in products %}
			<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
				<a href="{{ path('product.detail', {slug: product.slug}) }}">
					<img class="img-fluid w-100" src="{{product.image}}" alt=""/>
				</a>
				<div class="mt-2 p-2 justify-content-center text-primary">
					<h4 class="h6 text-center text-xl-center font-weight-bold">{{ product.title }}</h4>
				</div>
				<div class="mt-2 ">
					<p class="text-end h6	 font-weight-bold text-black-50">{{ product.price }}
						€</p>
				</div>
				<a href={{ path('product.detail', {slug: product.slug} )}} class="btn btn-clock text-white w-100 rounded-0 font-weight-bolder mg-btn-add-cart mb-5">Ajouter au panier</a>
			</div>
		{% endfor %}
	</div>
	<div class="navigation mt-4">
		{{ knp_pagination_render(products) }}
	</div>

</div>
