{% extends 'base.html.twig' %}
{% block javascripts %}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title "Passez une commande" %}

{% block content %}
	<div class="mg-products-content pt-md-5 pt-sm-5">
		<h6 class="display-6 lead mt-5">Je passe ma commande</h6>
		<p>Choisissez vous préference avant de passer votre commande</p>
		<hr/>
		<div class="row">
			<div class="col-md-6 mb-3">
				<div class="row">
					<h5 class="text-primary font-weight-bold">Adresse de livraison</h5>
					<span class="text-sm muted">
						<small>{{delivery.lot}}</small>
					</span><br/>
					<span class="text-sm muted">
						<small>{{delivery.road ? delivery.road : ""}}</small>
					</span><br/>
					<span class="text-sm muted">
						<small>{{delivery.city}}</small>
					</span><br/>

				</div>
				<div class="row mt-3">
					<h5 class="text-primary font-weight-bold">Transporteur</h5>
					<span class="text-sm muted">
						<small>{{carrier.name}}</small>
					</span><br/>
					<span class="text-sm muted">
						<small class="font-weight-bold">{{carrier.price}}
							€</small>
					</span><br/>
				</div>
			</div>
			<div class="col-md-6">
				<h5 class="text-primary font-weight-bold">Récapitulatif de ma commande</h5>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">Image</th>
							<th scope="col">Titre</th>
							<th scope="col">Prix Unitaire</th>
							<th scope="col">Quantité</th>
							<th scope="col">Total</th>

						</tr>
					</thead>
					<tbody>
						{% set total = 0 %}
						{% for cart in cartDatas %}
							<tr>
								<td class="w-25">
									<img class="img-fluid w-25" src="{{cart.product.image}}" alt="{{ cart.product.title}}"/>
								</td>
								<td class="h6 text-primary ">{{ cart.product.title}}</td>

								<td class="text-muted text-center">
									{{cart.product.price}}€
								</td>
								<td class="text-muted text-center">
									{{cart.quantity}}
								</td>
								<td class="text-muted text-center">
									{{cart.total}}€
								</td>

							</tr>
							{% set total = total + cart.total %}
						{% endfor %}
					</tbody>
				</table>
				<hr/>
				<div class="d-flex justify-content-end gap-2 pe-3">
					<strong>Sous total:
					</strong>
					<span class="muted">{{total}}
						€</span>
				</div>
				<div class="d-flex justify-content-end gap-2 pe-3">
					<strong>Livraison:
					</strong>
					<span class="muted">{{carrier.price | number_format(2, ',', '.')}}
						€</span>
				</div>
				<div class="d-flex justify-content-end gap-2 pe-3">
					<strong>Total à payer:
					</strong>
					<span class="muted">{{(carrier.price + total) | number_format(2, ',', '.')}}
						€</span>
				</div>
				<div class="row mt-3">
					<div class="col">
						<a id="checkout-button" href="#" class="btn btn-sm w-100 btn-success" data-toggle="modal" data-target="#exampleModalCenter">Payer |

							{{(carrier.price + total) | number_format(2, ',', '.')}}
							€
						</a>

					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
